section.number
  .container
    .number-list
      +numberblock("42", "Web designer")
      +numberblock("123", "Happy client")
      +numberblock("15", "Award winner")
      +numberblock("99", "Cup of coffee")
      +numberblock("24", "Members")
