section.people 
    .container 
        +blockBox("Happy clients", "What people say")
        ul.people-list 
            +peopleblock("./images/img-people1.png", "Hong", "Designer")
            +peopleblock("./images/img-people2.png", "Duc", "Designer")
            +peopleblock("./images/img-people3.png", "phuc", "Designer")
            +peopleblock("./images/img-people4.png", "Hong", "Designer")