section.service 
  .container
    +blockBox("We work with", "Amazing service")
    .service-list 
      +serviceblock("./images/img-service-icon1.png", "Photography", "Lorem ipsum, dolor sit amet consectetur adipisicing elit.")
      +serviceblock("./images/img-service-icon2.png", "Web design", "Fuga provident, reprehenderit quasi voluptatibus neque, blanditiis optio eveniet quibusdam recusandae")
      +serviceblock("./images/img-service-icon3.png", "Creativity", "Pariatur nulla hic aspernatur commodi voluptatum molestiae sapiente, beatae quos.")
      span.service-item-line
    .service-list 
      +serviceblock("./images/img-service-icon4.png", "SEO", "Lorem ipsum, dolor sit amet consectetur adipisicing elit.")
      +serviceblock("./images/img-service-icon5.png", "CSS/HTML", "Fuga provident, reprehenderit quasi voluptatibus neque, blanditiis optio eveniet quibusdam recusandae")
      +serviceblock("./images/img-service-icon6.png", "Digital", "Pariatur nulla hic aspernatur commodi voluptatum molestiae sapiente, beatae quos.")
