section.story 
    .container 
        +blockBox("Our Stories", "Last blog")
        ul.story-list
            +storyblock("./images/img-blog1.png", 15, "Jan", "Lorem Ipsum is simply dummy", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.", 153, 26)
            +storyblock("./images/img-blog2.png", 14, "Jan", "Lorem Ipsum is simply dummy", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.", 160, 50)
            +storyblock("./images/img-blog3.png", 12, "Jan", "Lorem Ipsum is simply dummy", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.", 200, 82)
section.map 
    .container 
        .map-item 
            img.map-image(src= "./images/img-map-icon.png")
            h2.map-heading Open map