section.quote
    .container
        .quote-container 
            //-i.fal.fa-angle-left.quote-arrow-left.quote-arrow
            +quoteblock("./images/img-quote-avatar.png", false)
            +quoteblock("./images/img-quote-avatar.png", false)
            +quoteblock("./images/img-quote-avatar.png", false)
            //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow