section.work 
    .container 
        +blockBox("what we do", "Some of out work", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.")
    .work-list 
        .work-column 
            +workblock("./images/img-work1.png", "Creatively Designer", "Lorem ipsum dolor")
            +workblock("./images/img-work2.png", "Creatively Designer", "Lorem ipsum dolor")
        .work-column 
            +workblock("./images/img-work3.png", "Creatively Designer", "Lorem ipsum dolor")
            +workblock("./images/img-work4.png", "Creatively Designer", "Lorem ipsum dolor")
        .work-column 
            +workblock("./images/img-work5.png", "Creatively", "Lorem ipsum dolor", "fa fa-heart", "work-item--full")
        .work-column 
            +workblock("./images/img-work6.png", "Creatively Designer", "Lorem ipsum dolor")
            +workblock("./images/img-work7.png", "Creatively Designer", "Lorem ipsum dolor")
    //- Cac class khi dung grid
    //- .word-grid
        //- +workblock("./images/img-work1.png", "Creatively Designer", "Lorem ipsum dolor")
        //- +workblock("./images/img-work2.png", "Creatively Designer", "Lorem ipsum dolor")
        //- +workblock("./images/img-work3.png", "Creatively Designer", "Lorem ipsum dolor")
        //- +workblock("./images/img-work4.png", "Creatively Designer", "Lorem ipsum dolor")
        //- +workblock("./images/img-work5.png", "Creatively Designer", "Lorem ipsum dolor", "fa fa-heart", "work-item--full")
        //- +workblock("./images/img-work6.png", "Creatively Designer", "Lorem ipsum dolor")
        //- +workblock("./images/img-work7.png", "Creatively Designer", "Lorem ipsum dolor")
