.quote {
  padding: 6.5rem 0;
  background-color: $gray-color;
//   &-container {
//     @include flexbox(center, space-between);
//   }
  &-item {
    @include flexbox(center);
    margin-left: 6.5rem;
    margin-right: 3.5rem;
  }
  &-icon {
    @include boxSize(15rem);
    @include flexbox(center, center);
    border: 3px solid $third-color;
    flex-shrink: 0;
    img {
      max-width: 50%;
    }
  }
  &-image{
      @include boxSize(15rem);
      border-radius: 50%;
  }
  &-arrow {
    color: $gray-dark-color;
    font-size: 3rem;
    cursor: pointer;
    padding: 1rem 2rem;
  }
  &-info {
    padding: 6rem;
    font-size: 2.4rem;
  }
  &-desc {
    color: $text-color;
    font-family: $secondary-font;
    line-height: 1.4;
    @include RowInContent(3);
    font-style: italic;
    margin-bottom: 2.5rem;
  }
  &-author {
    font-family: $third-font;
    position: relative;
    padding-left: 7rem;
    &::before {
      content: "";
      @include itemCenter("left");
      @include boxSize(6rem, 0.4rem);
      background-color: $primary-color;
    }
  }
// // cho privious va next nam cung hang
//   .slick-slider {
//     display: flex;
//   }
  // cho cac doi tuong con nam cung hang
  .slick-initialized .slick-slide {
    display: flex;
  }
  .slick-arrow{
    color: $gray-dark-color;
    font-size: 3rem;
    padding: 1rem 2rem;
    border: 0;
    background-color: transparent;
    position: absolute;
    z-index: 10;
  }
  .slick-prev{
      @include itemCenter(left);
  }
  .slick-next{
      @include itemCenter(right);
  }

  @include maxScreen(1023px) {
    padding: 4rem 0;

    &-info {
      padding: 3rem;
      font-size: 1.8rem;
    }
    &-icon {
      @include boxSize(10rem);
    }
  }
  @include maxScreen(767px) {
    padding: 3rem 0;

    &-arrow {
      display: none;
    }
    &-item {
      flex-direction: column;
      margin: 0;
    }
    &-info {
      padding: 2.5rem 0.5rem 0;
    }
    &-desc {
      display: block;
    }
  }
}
