.service{
  margin: 11rem 0 7rem;
  &-list{
    @include flexbox;
    margin-left: -3rem;
    margin-top: 6.5rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    position: relative;
  }
  // &-list:first-of-type{
  //   border-bottom: 1px solid $gray-dark-color;
  // }
  &-item{
    width: calc(33.33% - 3rem);
    margin-left: 3rem;
    @include flexbox(flex-start);
  }
  &-item-line{
    position: absolute;
    @include boxSize(calc(100% - 3rem), 1px);
    left: 3rem;
    background-color: $gray-dark-color;
    bottom: 0;
  }
  &-info{
    height: 100%;
  }
  &-item-icon{
    @include boxSize(3.5rem);
    margin: 0 3rem;
  }
  &-info-title{
    text-transform: uppercase;
    color: $text-color;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    @include RowInContent(1);
  }
  &-info-desc{
    color: $text-color;
    line-height: 1.4;
    font-family: $secondary-font;
    @include RowInContent(3);
  }
// // dung css grid 
//   @include minScreen(1024px){
//     &-list{
//       display: grid;
//       grid-template-columns: repeat(3, 1fr);
//       grid-gap: 0 4rem;
//     }
//     &-item{
//       width: auto;
//     }
//   }


  @include maxScreen(1023px){
    margin: 5rem 0 3rem;
    &-list{
      display: block;
      margin: 3rem 0;
      padding-bottom: 2rem;
    }
    &-item{
      width: 100%;
      margin: 0 0 1.5rem;
    }
    &-info-title{
      margin-bottom: 1.2rem;
    }
    &-item-icon{
      margin: 0 2rem 0 0;
    }
    &-item-line{
      @include boxSize(100%, 1px);
      left: 0;
    }
  }
}